/* Styles for DrawLines. */
.que.drawlines .dropbackground,
form.mform fieldset#id_previewareaheader .dropbackground {
    margin: 0 auto;
    border: 1px solid black;
}

.que.drawlines .dropzone .shapeLabel {
    text-anchor: middle;
    font-size: .875em;
}

.que.drawlines .dropzone .handlestart,
.que.drawlines .dropzone .handleend {
    fill: #fff;
    fill-opacity: 0.1; /* Need a small amount of opacity of the handle can't be grabbed. */
    stroke-width: 1;
    display: none;
    cursor: move;
}

.que.drawlines .dropzone .startcircle,
.que.drawlines .dropzone .endcircle {
    fill: #fff;
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 1;
    cursor: move;
}
.que.drawlines polyline.shape {
    cursor: move;
}
.que.drawlines .dropzone .startcircle:focus,
.que.drawlines .dropzone .endcircle:focus,
.que.drawlines g.dropzone:focus {
    outline: 2px solid #facb4e;
}

.que.drawlines .dropzone .handlestart.move,
.que.drawlines .dropzone .handleend.move {
    stroke: #800;
}
.que.drawlines .dropzone .handlestart.edit,
.que.drawlines .dropzone .handleend.edit {
    stroke: #008;
}
.que.drawlines .dropzone.active .handlestart,
.que.drawlines .dropzone.active .handleend {
    display: inherit;
}

.que.drawlines .droparea.readonly .startcircle,
.que.drawlines .droparea.readonly .endcircle {
    display: none;
}

.que.drawlines .droparea {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.que.drawlines div.ddarea,
form.mform fieldset#id_previewareaheader div.ddarea {
    text-align: center;
}

.que.drawlines div.misplacedinfo {
    margin: 2px;
}

.que.drawlines span.misplaced {
    background-color: #c8ff00;
    opacity: .6;
    margin: 2px;
}
