/* Styles for DrawLines. */
.que.drawlines .qtext {
    display: block;
    margin-bottom: 0.5em;
}

.que.drawlines .dropbackground,
form.mform fieldset#id_previewareaheader .dropbackground {
    margin: 0 auto;
    border: 1px solid black;
}

.que.drawlines line.color1 {
    fill: #1d1e1d;
}
.que.drawlines line.color2 {
    fill: #1c5fa1;
}
.que.drawlines line.color3 {
    fill: #39da20;
}
.que.drawlines line.color4 {
    fill: rgba(255, 165, 0, 0.98);
}
.que.drawlines line.color5 {
    fill: #a11c1c;
}
.que.drawlines line.color6 {
    fill: #e50de5;
}

.que.drawlines .dropzone.color7 .shape {
    fill: #f0e68c;
}

.que.drawlines .dropzone .shapeLabel {
    text-anchor: middle;
    font-size: large;
}

.que.drawlines .dropzone .handlestart,
.que.drawlines .dropzone .handleend {
    fill: #fff;
    fill-opacity: 0.1; /* Need a small amount of opacity of the handle can't be grabbed. */
    stroke-width: 1;
    display: none;
    cursor: move;
}

.que.drawlines .dropzone .startcircle,
.que.drawlines .dropzone .endcircle {
    fill: #fff;
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 1;
    cursor: move;
}
.que.drawlines .dropzone .startcircle:focus,
.que.drawlines .dropzone .endcircle:focus {
    outline: 3px solid orange;
}
.que.drawlines .dropzone polyline:focus {
    outline: 3px solid orange;
}

.que.drawlines .dropzone .handlestart.move,
.que.drawlines .dropzone .handleend.move {
    stroke: #800;
}
.que.drawlines .dropzone .handlestart.edit,
.que.drawlines .dropzone .handleend.edit {
    stroke: #008;
}
.que.drawlines .dropzone.active .handlestart,
.que.drawlines .dropzone.active .handleend {
    display: inherit;
}

.que.drawlines .draghomes .marker,
.que.drawlines .droparea .marker {
    vertical-align: top;
    cursor: move;
}

.que.drawlines .draghomes.readonly .marker,
.que.drawlines .droparea.readonly .marker {
    cursor: auto;
}

.que.drawlines .droparea .marker {
    position: absolute;
}

.que.drawlines .draghomes .marker {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.que.drawlines .draghomes .marker.dragplaceholder {
    display: none;
}

.que.drawlines .draghomes .marker.dragplaceholder.active {
    visibility: hidden;
    display: inline-block;
}

.que.drawlines .droparea .marker img.target,
.que.drawlines .draghomes .marker img.target {
    left: -7px; /* This must be half the size of the target image, minus 0.5. */
    top: -7px;  /* In other words, this works for a 15x15 cross-hair. */
}

.que.drawlines .draghomes .marker .icon {
    margin-right: 0;
}

.que.drawlines div.dragitems div.draghome img.target {
    display: none;
}

.que.drawlines .droparea {
    position: relative;
}

.que.drawlines div.ddarea,
form.mform fieldset#id_previewareaheader div.ddarea {
    text-align: center;
}

.que.drawlines polyline.shape {
    cursor: move;
}
